$light-blue: rgb(171, 203, 243);
$ease-transition: all 0.4s ease-in-out;

.day-7-frame {
  background: #264057;
  color: #666;

  .day-7-center {
    position: relative;
    display: block;
    z-index: 2;
    top: 50px;
    left: 50px;
    width: 300px;
    height: 300px;
    background: #fff;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    overflow: hidden;
    transition: $ease-transition;

    &.active {
      transform: translate(50%, 0);
    }

    .day-7-header {
      width: 300px;
      height: 60px;
      background: rgb(101, 150, 209);
      color: #fff;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .day-7-menu-icon {
        width: 30px;
        height: 30px;
        margin-left: 20px;
        cursor: pointer;
        &:hover {
          .top-dash,
          .bottom-dash,
          .menu-dot {
            background: white;
            box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.3);
          }
        }

        .top-dash,
        .bottom-dash,
        .menu-dot {
          position: relative;
          background: $light-blue;
          transition: all 0.3s ease-in-out;
        }
        .top-dash {
          width: 20px;
          height: 3px;
          border-radius: 3px;
          top: 10px;
          left: 0;
        }
        .bottom-dash {
          width: 30px;
          height: 3px;
          border-radius: 3px;
          top: 17px;
          left: 0;
        }
        .menu-dot {
          width: 6px;
          height: 6px;
          border-radius: 6px;
          top: 3px;
          left: 25px;
          margin-left: -2px;
        }
      }

      .day-7-search-btn {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        cursor: pointer;

        &:hover {
          .search-pip {
            background: white;
            box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.3);
          }
          .search-circle {
            border-color: white;
            box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.3);
          }
        }

        .search-circle,
        .search-pip {
          position: relative;
          color: $light-blue;
          transition: all 0.3s ease-in-out;
        }

        .search-circle {
          width: 12px;
          height: 12px;
          border: solid 3px;
          border-radius: 12px;
          background: rgb(101, 150, 209);
          top: 5px;
        }
        .search-pip {
          width: 8px;
          height: 3px;
          background: $light-blue;
          border-radius: 3px;
          transform: rotate(60deg);
          top: 4px;
          left: 11px;
        }
      }

      .day-7-title {
        font-size: 15px;
        font-weight: 600;
      }

      .day-7-input-search {
        position: absolute;
        width: 200px;
        height: 30px;
        border-radius: 30px;
        border-color: transparent;
        right: 55px;
        padding-left: 20px;
        visibility: hidden;
        opacity: 0;
        transform: translate(20%, 0);
        transition: $ease-transition;

        &.active {
          transform: translate(0%, 0);
          opacity: 1;
          visibility: visible;
        }
        &:focus {
          outline: none;
          color: #666;
        }
      }
    }

    .day-7-content {
      width: 100%;
      height: 240px;
      position: relative;
      overflow: hidden;
      transition: 0.5s ease-in;
      animation: content-animation 0.5s ease-in;

      .line {
        position: absolute;
        background: #ebebeb;
        width: 3px;
        height: 100%;
        left: 27px;
      }

      .notification {
        position: relative;
        z-index: 2;
        margin: 25px 20px 25px 43px;

        &:hover {
          color: #5f98cd;
        }

        .circle {
          position: absolute;
          height: 10px;
          width: 10px;
          border-radius: 50%;
          border: 2px solid #5f98cd;
          background: #fff;
          box-shadow: 0 0 0 3px #fff;
          left: -21px;
        }

        .time {
          font-size: 11px;
          position: relative;
          display: block;
          text-align: left;
          //left: 20px;
        }

        p {
          position: relative;
          display: block;
          font-size: 15px;
          margin: 0;
          line-height: 20px;
          text-align: left;
        }
      }
    }
  }

  .day-7-popup {
    height: 270px;
    width: 170px;
    border-radius: 5px;
    background: #43627d;
    position: relative;
    top: -235px;
    left: 40px;
    transform: translate(50%, 0);
    transition: $ease-transition;

    &.active {
      transform: translate(0%, 0);
    }

    .menu-item {
      color: #93b2cd;
      padding: 15px 17px;
      font-size: 14px;
      display: flex;
      flex-direction: row;
      cursor: pointer;
      transition: 0.4s ease-in-out;
      &:hover {
        background: #264057;
        color: #fff;
      }

      span {
        display: block;
        margin-left: 5px;

        &.menu-item-title {
          margin-top: 5px;
        }
      }
    }
  }
}

@keyframes content-animation {
  from {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
