.day-3-frame {
  position: relative;

  width: 400px;
  height: 400px;

  border-radius: 10px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #000;
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.day-3-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.window {
  position: relative;
  width: 180px;
  height: 180px;

  border-radius: 50%;
  overflow: hidden;

  .sky {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    width: 100%;
    background: #84ffff;
    animation: sky-goes-dark 4s linear infinite;
  }
  .sand {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    background: #ffe57f;
    animation: sand-goes-dark 4s linear infinite;
  }
  .sun {
    position: absolute;
    background: #ffea00;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: 2;
    top: 7px;
    left: 73px;
    transform-origin: 50% 400%;
    animation: sun-circle 4s linear infinite;
  }
  .pyramid-left {
    position: absolute;
    z-index: 2;
    background: #f4f4f4;
    height: 60px;
    width: 110px;
    clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
    bottom: 60px;
    left: 40px;
    animation: pyramid-left-goes-dark 4s linear infinite;
  }
  .pyramid-right {
    position: absolute;
    z-index: 2;
    background: #c2c2c2;
    height: 60px;
    width: 55px;
    clip-path: polygon(33% 100%, 100% 100%, 0% 0%);
    bottom: 60px;
    right: 31px;
    animation: pyramid-right-goes-dark 4s linear infinite;
  }
  .shadow {
    position: absolute;
    z-index: 2;
    background: #7d786a;
    height: 30px;
    width: 110px;
    top: 120px;
    left: 40px;
    clip-path: polygon(50% 50%, 0 0, 100% 0);
    animation: shadow-circle 4s linear infinite;
  }
}

@keyframes sun-circle {
  0% {
    background: #ff9100;
    transform: rotate(-70deg);
  }
  30% {
    background: #ffef00;
    transform: rotate(-28deg);
  }
  70% {
    background: #ffef00;
  }
  100% {
    background: #ff9100;
    transform: rotate(70deg);
  }
}

@keyframes sky-goes-dark {
  0% {
    background: #111;
  }
  30% {
    background: #84ffff;
  }
  70% {
    background: #9fa8da;
  }
  100% {
    background: #111;
  }
}

@keyframes sand-goes-dark {
  0% {
    background: #111;
  }
  30% {
    background: #ffe57f;
  }
  70% {
    background: #a1887f;
  }
  100% {
    background: #111;
  }
}

@keyframes shadow-circle {
  0% {
    background: #111;
    clip-path: polygon(100% 0%, 0 0, 100% 0);
  }
  30% {
    background: #7d786a;
    clip-path: polygon(100% 60%, 0 0, 100% 0%);
  }
  70% {
    background: #7d786a;
    clip-path: polygon(0 60%, 0 0, 100% 0);
  }
  100% {
    background: #111;
    clip-path: polygon(0% 0, 0 0, 100% 0);
  }
}

@keyframes pyramid-left-goes-dark {
    0% {
      background: #111;
    }
    30% {
      background: #f4f4f4;
    }
    70% {
      background: #c2c2c2;
    }
    100% {
      background: #111;
    }
  }

  @keyframes pyramid-right-goes-dark {
    0% {
        background: #111;
      }
      30% {
        background: #c2c2c2;
      }
      70% {
        background: #f4f4f4;
      }
      100% {
        background: #111;
      }
  }