.App {
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
}

@media screen and (max-width: 1180px) {
  .App {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
}
  
@media screen and (max-width: 480px) {
  .App {
    grid-template-columns: repeat(1, 1fr);
    padding: 5px;
  }
}
